{% extends "@swdtUser/layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block user_content %}

<link rel="stylesheet" type="text/css" href="{{ asset('swdt_template/css1.css') }}">
    <p>{{ 'registration.confirmed'|trans({'%username%': user.username}) }}</p>
    {% if targetUrl %}
    <p><a href="{{ path('swdt_karyab_dashboard') }}">{{ 'registration.back'|trans }}</a></p>
    {% endif %}
{% endblock user_content %}
