{% extends '@amKaryab/Email/layout.html.twig' %}
{% block content %}

<h3 style="direction: rtl;">کاربر عزیز,</h3>

<p style="direction: rtl;">
    آگهی جدیدی مرتبط با مهارت شما به دانشکار اضافه شده است .
    جهت ارسال رزومه برای این آگهی به دانشکار مراجعه نمایید.
</p>

<p class="callout">
    <table style="direction: rtl">
    <tr><td>عنوان آگهی:</td><td><b>{{ ad.title }}</b></td></tr>
    <tr><td>توضیح:</td><td><b>{{ ad.description }}</b></td></tr>
    <tr><td>آگهی دهنده:</td><td><b>{{ ad.user.karfarma.companyName }}</b></td></tr>
</table>
</p>
{% endblock content %}
