{% extends '@amKaryab/Email/layout.html.twig' %}
{% block content %}

<h3 style="direction: rtl;">{{ user }} عزیز </h3>

<p style="direction: rtl;"> درخواست بازگردانی پسورد شما دریافت شد . جهت ایجاد رمز عبور جدید برای اکانت خود به لینک زیر مراجعه نمایید</p>

<p class="callout"  style="text-align: center">
    <a href="{{ confirmationUrl }}">تغییر رمز عبور</a>
</p>
{% endblock content %}

